<h1>Editing Task</h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "Show this task", @task, class: "navigation-link" %> |
  <%= link_to "Back to tasks", tasks_path, class: "navigation-link" %>
</div>
